<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">1
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://js.zohostatic.com/creator/widgets/version/1.0/widgetsdk-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" /> -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Select2 CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Select2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>


<link rel="stylesheet" href="style.css">
 
   <!-- FONTAWESOME -->
   <link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
 />
 
<!------ Include the above in your HEAD tag ---------->
<!-- Filiter div start -->
<!-- <div class="filite_header"><h3>filter</h3></div> -->

<!-- <div class="loader-wrapper">
  <div class="loader"></div>
</div> -->

<!-- Multiple Searchable dropdown -->
<div class="row_mul">
  <div class="col-md-3">
    <label class="la_nm">Carer :&nbsp;</label>
    <select id="multiplecarer" class="js-states form-control carerdataDD" multiple>
    </select>
  </div>
  <div class="col-md-3">
    <label class="la_nm">Client :&nbsp;</label>
    <select id="multiplecli" class="js-states form-control clientdataDD" multiple>
    </select>
  </div>
  <div class="col-md-3">
    <label  class="la_nm">Care Facilitier :&nbsp;</label>
    <select id="multiplecarefaci" class="js-states form-control carefacidataDD" multiple>
    </select>
  </div>
  <div class="btns_f">
    <button class="flt_btn1 resetfilter" type="button"><span style="color: black;">Reset</span> <img class="img_flt" src="./img/undo.png" alt=""></button>
  </div>
</div>

<!-- <div class="full_filter_div">
  <div class="carer">
    <label class="cr" for="carer_sel">Carers :</label>
    <select name="Carers" class="selectpicker" id="dropdownname_cr">
      <option value="0" selected disabled>Select Carer</option>
    </select>
  </div>
  <div class="carer">
    <label class="cr" for="Clients">Clients :</label>
    <select name="Carers" id="dropdownname_cl">
      <option value="0" selected disabled>Select Client</option>
    </select>
  </div>
  <div class="carer">
    <label class="cr" for="Clients">Carer Facilitier :</label>
    <select name="Carers" id="dropdownname_cf">
      <option value="0" selected disabled>Select Care Facilitier</option>
    </select>
  </div>
  <div class="btns_f">
    <button class="flt_btn1 resetfilter" type="button"><span style="color: black;">Reset</span> <img class="img_flt" src="./img/undo.png" alt=""></button>
  </div>
</div> -->

<!-- Filiter div end -->
<!-- Popup div Start -->
<div class="overlay">
  <div id="popup">
    <div class="image_edit">
      <div class="edit_icon"></div>
    </div>
    <div class="shift_popup_header">
      <div class="shift_Ed">
        <h3>Edit Shift</h3>
      </div>
      <div><a class="close" href="#">&times;</a></div>
    </div>
    <div>
      <table class="shift_edit_table">
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
            <label for="carer_sel">Carers</label>
          </th>
          <td class="shift_edit_td">
            <select name="Carers" id="dropdownname_cr_popup">
              <option value="">Select Carer</option>
            </select>
          </td>
        </tr>
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
            <label for="Clients">Clients</label>
          </th>
          <td class="shift_edit_td">
            <select name="Clients" id="dropdownname_cl_popup" onchange="myFunction()">
              <option value="">Select Client</option>
            </select>
          </td>
        </tr>
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
            <label for="shift_sel">Shfit Name</label>
          </th>
          <td class="shift_edit_td">
            <select name="shfit" id="dropdownname_sht" onchange="myshiftpopulate()">
              <option value="">Select Shift</option>
            </select>
            <input name="singleline_shfit" id="singleline_sht" type="text">
            <button class="add_shift">+</button>
            <button class="remove_shift">×</button>
          </td>
        </tr>
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
            <label for="employee-shifts-start">Shift Start</label>
          </th>
          <td>
            <input class="st_dte" placeholder="dd-mm-yyyy" id="st_date_emp" type="date" value="" />
          </td>
        </tr>
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
            <label for="employee-shifts-start">Start Time</label>
          </th>
          <td>
            <!-- <input class="st_time" id="st_time_emp" type="time" value="" min="00:00" max="23:59"/> -->
            <!-- <input type="text" id="time" placeholder="Time"> -->
            <input type="text"  class="st_time" id="st_time_emp" placeholder="--:--">
          </td>
        </tr>
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
            <label for="employee-shifts-end">End Time</label>
          </th>
          <td class="shift_edit_td">
            <input type="text"  class="ed_time"  id="ed_time_emp" placeholder="--:--">
          </td>
        </tr>
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
            <label for="employee-shifts-end">Shift End</label>
          </th>
          <td class="shift_edit_td">
            <input class="ed_dte" placeholder="dd-mm-yyyy" type="date" id="ed_date_emp" value="" />
          </td>
        </tr>
        <tr class="shift_edit_tr" hidden>
          <th class="shift_edit_th">
            <label for="recid">Shift Assign ID</label>
          </th>
          <td class="shift_edit_td">
            <input id="recid" type="text">
          </td>
        </tr>
        <tr class="shift_edit_tr" hidden>
          <th class="shift_edit_th">
            <label for="Emp_recid">Employee Shift ID</label>
          </th>
          <td class="shift_edit_td">
            <input id="Emp_recid" type="text">
          </td>
        </tr>
        <tr class="shift_edit_tr" hidden>
          <th class="shift_edit_th">
            <label for="persentdate">Present Date</label>
          </th>
          <td class="shift_edit_td">
            <input id="persentdate" type="date">
          </td>
        </tr>
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
          <label for="Shiftype">Shift Type</label>
          </th>
          <td class="shift_edit_td">
          <input type="checkbox" class="shift_type_checkbox check_sameday" id="shift_type_checkbox" name="ShiftType" value="Same day">
          <label for="Sameday" class="Sameday">Same day</label>
          <input type="checkbox" class="shift_type_checkbox check_multiday" id="shift_type_checkbox" name="ShiftType" value="Multi day">
          <label for="Multiday" class="Multiday">Multiday</label>
          </td>
          </tr>
        <tr class="shift_edit_tr">
          <th class="shift_edit_th">
            <label for="EndDay_shift_for">End Day</label>
          </th>
          <td class="shift_edit_td">
            <select name="EndDay_shift_for" id="dropdownname_EndDay_shift_popup" class="dropdownname_EndDay_shift_popup">
              <option value="Same day" value="Same day">Same day</option>
              <option value="Next day" value="Next day">Next day</option>
            </select>
          </td>
        </tr>
        <tr class="shift_edit_tr sve_del_btn">
          <th class="shift_edit_th sve_td">
            <button type="button" class="btn btn-success btn-sve">Save</button>
          </th>
          <td class="shift_edit_td del_td">
            <button type="button" class="btn btn-danger del_btn">Delete</button>
          </td>
        </tr>
      </table>
      <!-- <div class="client"></div> -->
      <!-- <div class="carer"></div> -->
    </div>
  </div>
</div>
<!-- Popup div End -->
<!-- Main for the Calender Start -->
<div class="container theme-showcase">
<div id="holder" class="row" ></div>
</div>
<!-- Main for the Calender End--> 
<script type="text/tmpl" id="tmpl">
  {{
  var date = date || new Date(),
      month = date.getMonth(),
      year = date.getFullYear(),
      first = new Date(year, month, 1),
      last = new Date(year, month + 1, 0),
      startingDay = first.getDay(),
      thedate = new Date(year, month, 1 - startingDay),
      dayclass = lastmonthcss,
      today = new Date(),
      i, j;
  if (mode === 'week') {
    thedate = new Date(date);
    thedate.setDate(date.getDate() - date.getDay());
    first = new Date(thedate);
    last = new Date(thedate);
    last.setDate(last.getDate()+6);
  } else if (mode === 'day') {
    thedate = new Date(date);
    first = new Date(thedate);
    last = new Date(thedate);
    last.setDate(thedate.getDate() + 1);
  }
 
  }}
  <table class="calendar-table table table-condensed table-tight table-border">
    <thead class="top-table">
      <tr>
        <td colspan="7" style="text-align: center">
          <table style="white-space: nowrap; width: 100%">
            <tr>
              <td>
                <span class="btn-group btn-group-lg year-deatilsview_top">
                  {{ if (mode !== 'day') { }}
                    {{ if (mode === 'month') { }}<button class="js-cal-option btn btn-link" data-mode="year">{{: months[month] }}</button>{{ } }}
                    {{ if (mode ==='week') { }}
                      <button class="btn btn-link disabled month-view">{{: months[first.getMonth()] }} {{: first.getDate() }} - {{: months[last.getMonth()] }} {{: last.getDate() }}</button>
                    {{ } }}
                    <button class="js-cal-years btn btn-link year-view">{{:year}}</button>
                  {{ } else { }}
                    <button class="btn btn-link disabled">{{: date.toDateString() }}</button>
                  {{ } }}
                </span>
              </td>
              <td style="text-align: right">
                <span class="btn-group btn-week">
                  <button class="js-cal-option btn btn-default {{: mode==='week'? 'active':'' }}" data-mode="week"></button>
                </span>
              </td>
              <td style="text-align: right;">
                <div class="btns">
                <span class="btn-group">
                  <button class="js-cal-prev btn btn-default btn-prev"><i class="fas fa-chevron-left"></i></button>
                </span>
                <button class="js-cal-option today-btnn btn btn-default {{: first.toDateInt() <= today.toDateInt() && today.toDateInt() <= last.toDateInt() ? 'hide':'' }}" data-date='{{: today.toISOString()}}' data-mode="week"><i class="fas fa-calendar-day"></i></button>
                <span class="btn-group">
                  <button class="js-cal-next btn btn-default btn-next"><i class="fas fa-chevron-right"></i></button>
                </span>
              </div>
              </td>
            </tr>
          </table>
         
        </td>
      </tr>
    </thead>
    {{ if (mode ==='year') {
      month = 0;
    }}
    <tbody>
      {{ for (j = 0; j < 3; j++) { }}
      <tr>
        {{ for (i = 0; i < 4; i++) { }}
        <td class="calendar-month month-{{:month}} js-cal-option" data-date="{{: new Date(year, month, 1).toISOString() }}" data-mode="month">
          {{: months[month] }}
          {{ month++;}}
        </td>
        {{ } }}
      </tr>
      {{ } }}
    </tbody>
    {{ } }}
    {{ if (mode ==='month' || mode ==='week') { }}
    <thead class="bottom-table">
      <tr class="c-weeks">
        {{ for (i = 0; i < 8; i++) { }}
          <th class="c-name {{: days[i] }}">
            {{: days[i] }}
          </th>
        {{ } }}
      </tr>
  
    </thead>
    <tbody class="bottom-table_2">
      {{ for (j = 0; j < 6 && (j < 1 || mode === 'month'); j++) { }}
      <tr id="emp_tr">
        {{ for (i = 0; i < 7; i++) { }}
        {{ if (thedate > last) { dayclass = nextmonthcss; } else if (thedate >= first) { dayclass = thismonthcss; } }}
        <td class="calendar-day {{: dayclass }} {{: thedate.toDateCssClass() }} {{: date.toDateCssClass() === thedate.toDateCssClass() ? 'selected':'' }} {{: daycss[i] }}" data-date="{{: moment(thedate).format("DD-MMM-YYYY") }}">
          <div class="date">{{: thedate.getDate() }}</div>
          {{ thedate.setDate(thedate.getDate() + 1);}}
        </td>
        {{ } }}
      </tr>
      {{ } }}
    </tbody>
    {{ } }}
    {{ if (mode ==='day') { }}
    <tbody>
      <tr>
        <td colspan="7">
          <table class="table table-striped table-condensed table-tight-vert" >
            <thead>
              <tr>
                <th> </th>
                <th style="text-align: center; width: 100%">{{: days[date.getDay()] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="timetitle" >All Day</th>
                <td class="{{: date.toDateCssClass() }}">  </td>
              </tr>
              <tr>
                <th class="timetitle" >Before 6 AM</th>
                <td class="time-0-0"> </td>
              </tr>
              {{for (i = 6; i < 22; i++) { }}
              <tr>
                <th class="timetitle" >{{: i <= 12 ? i : i - 12 }} {{: i < 12 ? "AM" : "PM"}}</th>
                <td class="time-{{: i}}-0"> </td>
              </tr>
              <tr>
                <th class="timetitle" >{{: i <= 12 ? i : i - 12 }}:30 {{: i < 12 ? "AM" : "PM"}}</th>
                <td class="time-{{: i}}-30"> </td>
              </tr>
              {{ } }}
              <tr>
                <th class="timetitle" >After 10 PM</th>
                <td class="time-22-0"> </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    {{ } }}
  </table>
</script>
<script src="index.js"></script>
<script src="page.js"></script>
<script src="external_func.js"></script>
<script src="zoho_api.js"></script>
<script src="filter.js"></script>
<script src="OnloadFilter.js"></script>
<!-- <script src="spFunc.js"></script> -->
</body>
<script>
  var Employee_Shift_List=[];
  var CarerDataList=[];
  var ClientCarerReportList=[];
  var shiftidid = [];
  var newshiftvalue = [];
</script>

<script>
  // Execute functions in parallel
  // ZOHO.CREATOR.init().then(function (data) {
  //   $.when(asyncFunction1()).done(function () {
  //     console.log("All functions completed");
  //   });
  // });
  var timepicker = new TimePicker('st_time_emp', {
    lang: 'en',
    theme: 'dark'
  });
  
  timepicker.on('change', function(evt) {
    var hour = evt.hour || '00';
    var minute = evt.minute || '00';
    
    // Pad hour with leading zero if it's a single digit
    hour = hour.toString().padStart(2, '0');
    
    var value = hour + ':' + minute;
    evt.element.value = value;
  });
  var timepicker1 = new TimePicker('ed_time_emp', {
    lang: 'en',
    theme: 'dark'
  });
  
  timepicker1.on('change', function(evt1) {
    var hour1 = evt.hour || '00';
    var minute1 = evt.minute || '00';
    
    // Pad hour with leading zero if it's a single digit
    hour1 = hour1.toString().padStart(2, '0');
    
    var value1 = hour1 + ':' + minute1;
    evt1.element.value = value1;
  });
</script>

</html>
 
